<div>
  <button (click)="value=1"> Boton 1</button>
  <button (click)="value=2">Boton 2</button>
  <button (click)="value=3">Boton 3</button>
</div>

<div [ngSwitch]="value">
  <p *ngSwitchCase="0">
    Boton 1 - Boton 2 - Boton 3
  </p>
  <p *ngSwitchCase="1">
    Boton 1
  </p>
  <p *ngSwitchCase="2">
    Boton 2
  </p>
  <p *ngSwitchDefault>
    Por default se presionó el Boton 3
  </p>
</div>
